<%= form_with(model: todo_list, class: "todo-list-form") do |form| %>
  <div class="todo-list-form-wrapper">
    <div class="todo-list-form-fields">
      <%= form.text_field :name, placeholder: "New Todo List Name...", value: todo_list.name.presence, class: todo_list.errors[:name].any? ? "error" : "" %>
      <%= form.submit todo_list.new_record? ? "Create" : "Update", class: "btn-primary" %>
      <% unless todo_list.new_record? %>
        <%= link_to "Cancel", todo_lists_path, class: "btn-secondary" %>
      <% end %>
    </div>
    <% if todo_list.errors[:name].any? %>
      <div class="field-error">
        <%= todo_list.errors[:name].first %>
      </div>
    <% end %>
  </div>
<% end %>
