<%= turbo_frame_tag "new_list_item" do %>
  <div class="new-item-form-wrapper">
    <%= form_with(model: [todo_list, list_item], class: "new-item-form") do |form| %>
      <%= form.text_field :description, placeholder: "What needs to be done?", value: list_item.description.presence, autofocus: true, class: list_item.errors[:description].any? ? "error" : "" %>
      <%= form.submit "Add", class: "btn-primary" %>
    <% end %>
    <% if list_item.errors[:description].any? %>
      <div class="field-error">
        <%= list_item.errors[:description].first %>
      </div>
    <% end %>
  </div>
<% end %>
